.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 100%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}

.main-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media screen and (max-width: 925px) {
    .main-block {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .main-page__favorites {
        width: 100%;   
        margin-bottom: 20px;
    }

    .main-page__movies {
        width: 100%;
    }
}
