.list-page {
    padding: 42px calc(50% - 300px);
}

.list-page__title {
    font-size: 34px;
    margin-bottom: 26px;
}

.list-page ul li {
    font-size: 18px;
}

@media screen and (max-width: 650px) {
    .list-page {
        width: 70%;
        margin-left: 15vw;
    }
}